/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $color-text-light;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}


@each $name, $color in $color-btn {
  .#{$name} {
    background-color: $color;
    &:hover {
      background-color: lighten($color, 15%);
    }
  }
}
